<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--아래 경로는 mybatis repository파일의 위치를 명시하는 것-->
<mapper namespace="com.example.demo.Study.St3.Main.St3_MybatisRepository">  <!--mapper에서 이름을 찾음-->
    <insert id="save">
        insert into st3_member(name, email, password) values(#{name}, #{email}, #{password});
    </insert>
    <select id="findAll" resultType="com.example.demo.Study.St3.Main.St3_Member">
        select * from st3_member;
    </select>
    <select id="findById" resultType="com.example.demo.Study.St3.Main.St3_Member" parameterType="Long">
        select * from st3_member where id=#{id};
    </select>

</mapper>